*{
    margin: 0;
    box-sizing: border-box;
}
#clock_container{
    height: 100vh;
    width: 100vw;
    background-color: lightsalmon;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
#hour_section,#min_section,#sec_section{
    height: 120px;
    width: 150px;
    border: 2px solid black;
    background-color: white;
    color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 20px 
}
section h1{
    font-size: 50px;
}
